body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilo para los formularios */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para los elementos de los formularios */
form input[type="text"],
form input[type="password"],
form select,
form input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Estilo para los botones de los formularios */
form input[type="submit"] {
    background-color: rgb(144, 76, 175);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
}

form input[type="submit"]:hover {
    background-color: rgb(155, 94, 184);
}

/* Estilos específicos para la página de búsqueda de corredores */
.tablaCorredor {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tablaCorredor, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: rgb(144, 76, 175);
    color: #fff;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}

/*CRONOMETRO*/
#cronometro {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.inputVuelta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

button {
    background-color: rgb(144, 76, 175);
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: medium;
}

button:hover {
    background-color: rgb(155, 94, 184);
}

/* Añade este estilo para centrar la tabla */
.tablaCrono {
    display: flex;
    justify-content: center;
}

.tablaClasificacion{
    display: flex;
}

.inicioses{
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn_inicioses{
    background-color: rgb(144, 76, 175);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
}

.btn_inicioses:hover{
    background-color: rgb(155, 94, 184);
}